.contactTitle {
    font-family: var(--mainL);
    font-size: 5rem;
    margin-top: 2rem;
    padding-top: 1rem;
    letter-spacing: 25px;
    text-align: center;
    color: white;
}

.tIvQIf.m7w29c {
    display: none;
}

iframe[src="https://docs.google.com/forms/d/e/1FAIpQLSeba6ZIZi2HQ-QulNeJCxUms9EfsAAREhxVzX9wyWU1ze_zUg/viewform?embedded=true"] {

}